@font-face {
  font-family: "iconfont"; /* Project id 4261402 */
  src: url('iconfont.woff2?t=1741626882272') format('woff2'),
       url('iconfont.woff?t=1741626882272') format('woff'),
       url('iconfont.ttf?t=1741626882272') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e624";
}

.icon-add1:before {
  content: "\e6b4";
}

.icon-a-add_icon1x-2:before {
  content: "\e646";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-shuaxin1:before {
  content: "\e616";
}

.icon-A:before {
  content: "\e6f0";
}

.icon-a-shuaxin4:before {
  content: "\ea5e";
}

.icon-repeat__easyi:before {
  content: "\e601";
}

.icon-close:before {
  content: "\e602";
}

.icon-guanbi-01:before {
  content: "\e607";
}

.icon-lingxing:before {
  content: "\e600";
}

.icon-dian:before {
  content: "\e7a5";
}

.icon-sousuo:before {
  content: "\e63f";
}

.icon-shezhi:before {
  content: "\e608";
}

.icon-wenjianjia:before {
  content: "\f4a0";
}

.icon-pifu:before {
  content: "\eda1";
}

.icon-bangzhuzhongxin:before {
  content: "\e735";
}

.icon-icon-sousuo:before {
  content: "\e688";
}

