<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NDToolsBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NDToolsBox.Properties.Settings>
            <setting name="MainRestoreBounds" serializeAs="String">
                <value>20,50,50,480</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="filter_a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filter_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filter_c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filter_a_text" serializeAs="String">
                <value />
            </setting>
            <setting name="filter_b_text" serializeAs="String">
                <value />
            </setting>
            <setting name="filter_c_text" serializeAs="String">
                <value />
            </setting>
            <setting name="filter_front" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filter_back" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box_T" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Box_L" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Box_W" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Box_H" serializeAs="String">
                <value>300</value>
            </setting>
        </NDToolsBox.Properties.Settings>
    </userSettings>
</configuration>